.superInput {
    font-weight: bold;
    outline: none;
    color: #6aa2fa;
    font-size: x-large;
    height: 50px;
    width: 50px;
    background-color: #282c34;
    margin-left: 2rem;
    border-radius: 15px;
}

.errorInput {
    font-weight: bold;
    outline: none;
    color: crimson;
    font-size: x-large;
    height: 50px;
    width: 50px;
    background-color: rgba(243,0,6,0.35);
    margin-left: 2rem;
    border-radius: 15px;
}

.error {
    display: flex;
    flex-direction: column;
    color: red;
}